@import base

@import screen
@import portrait
@import landscape
@import mobile-480
@import partials/omg-bar
//@import partials/navmenu

// Media queries for responsive design
// These follow after primary styles so they will successfully override

@media all and (orientation:portrait)
	+portrait

@media all and (orientation:landscape)
	+landscape

// Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
@media screen and (max-device-width: 480px)
	+mobile-480


html
	margin: 0
	padding: 0
	background: url(/images/bg-HTML.jpg) repeat

body
	margin: 0
	padding: 0
	background: transparent

.content
	@extend .box
	position: relative
	width: 100%
	margin: 100px 0 0 0
	padding: 0
	overflow: hidden
	
#logo
	@extend .box
	position: relative
	+float-right
	width: 428px
	height: 298px
	border-bottom: 17px solid #000
	//background: url(/images/bg-HTML.jpg) repeat
	z-index: 99
	
#viewer
	@extend .box
	position: relative
	+float-right
	width: $viewer-width
	height: 298px
	border-bottom: 17px solid transparent
	background: $g1